.blog-content {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.left-blog {
    flex-basis: 60%;
}

.left-blog img {
    width: 100%;
}

.left-blog h2 {
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.left-blog p {
    color: #999;
    padding: 0;
    font-size: 14px;
}

.right-blog {
    flex-basis: 32%;
}

.right-blog h3 {
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.right-blog div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}

.comment-box {
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3 {
    text-align: left;
}

.comment-form input, .comment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.comment-form button {
    margin: 10px 0;
}

@media(max-width: 700px) {
    .sub-header h1 {
        font-size: 24px;
    }
}